# yt-embed.config
base_url="yt.qwik.top" # Change to your domain :)
db_url="sqlite+aiosqlite:///yt-embed.db"
cache_dir="cache"
ytdlp="yt-dlp" # Set a custom path for your yt-dlp binary

host="0.0.0.0"
port=12864

filesize="1g"       # Fetch formats under this size, or pick 0 to disable.
resolution="1080"   # Target this resolution. Set to 0 to disable.
audio_format="mp3"  # You may want "opus"
video_format="mp4"  # You may want "webm"
download_timeout=20 # seconds
rate_limit="100m"   # 0 to disable
retries=4

# https://github.com/yt-dlp/yt-dlp/wiki/FAQ#how-do-i-pass-cookies-to-yt-dlp
cookies_path="" # Pass a cookies.txt file to yt-dlp for age restricted or region locked content

file_expiry=True # Will clear expired video and audio files once a day
expiry_time=168  # Time in **HOURS**

dearrow_titles=False # Use less clickbaity community titles
dearrow_api="https://sponsor.ajay.app" # you probably don't want to change this

# === These settings only apply to Slack ===
serve_thumbs=True    # Add a thumbnail to Slack embeds (does not use extra space/bandwidth)
dearrow_thumbs=False # Use a specific timestamp as a thumbnail (may use extra bandwidth)

# This service can be selfhosted: https://github.com/ajayyy/DeArrowThumbnailCache
dearrow_thumb_api="https://dearrow-thumb.ajay.app"
